
.doctor_checking{
	width: 400px;
	margin-top: 50px;
	margin-left: 200px;
	margin-right: 200px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
  margin-top: 80px;
  margin-left: 200px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.form_covid_test form{
	margin-right: 80px;
	margin-left: 100px;
	margin-top: -360px;
	padding: 20px;
	float: right;
	border: 1px solid black;
	width: 500px;
	border-radius: 5px;
  background-color: #f2f2f2;
}

form h2{
	text-align: center;
}

.form_covid_test input[type=text],[type=time],[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form_covid_test input[type=radio]{
	margin-top: 12px;
}

form p{
  margin-top: 20px;
}

.form_covid_test textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.form_covid_test input[type=submit] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

footer{
  margin-top: 120px;
}

input[type=text]:focus,[type=number]:focus,[type=date]:focus,[type=time]:focus { 
  outline: none !important;
  border-color: red;
}

textarea:focus { 
  outline: none !important;
  border-color: #04AA6D;
}