
.faq{
  display: flex;
}

.questions {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: -50px;
  width:50%;
}

.questions h1{
  margin-bottom: 25px;
}

details {
  cursor: pointer;
}

details .arrow {
  transition: transform .5s;
}

details[open] .arrow {
  transform: rotate(180deg);
}

summary {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

summary p {
  font-size: 1.15rem;
}

summary p:hover {
  color:hsl(237, 12%, 33%);
}

.answer {
  margin-top: 1%;
  line-height: 1.35rem;
}

.questions hr {
  width: 600px;
  margin: 2% 0;
  border: none;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.questions hr:last-of-type {
  margin-bottom: 15%;
}

.faq_image{
  margin-right: 300px;
}