
h1{
	text-align: center;
	margin-right: 85px;
	margin-top: 50px;
}

.individual_div img{
	margin-top: 15px;
	width: 200px;
	height: 200px;
	border-radius:10px;
	margin-left: 110px;
	margin-bottom: 10px;
	filter: grayscale(100%);
	transition: transform .2s;
}

.individual_div img:hover{
	filter: grayscale(0%);
	transform: scale(1.1);
}

.team_hr{
	margin-left: 533px;
	width: 200px;
	color: orange;
}

.team_div{
	display: flex;
}

.individual_div{
	border-bottom: 1px solid grey;
	margin-left: 20px;
	height: 660px;
}

.team_info{
	text-align: center;
	width: 350px;
	margin-left: 30px;
}

.team_info h5{
	color: grey;
}

.team_saying{
	text-align: justify;
	margin-top: 4px;
}

.join a:link, .join a:visited{
	margin-left: 50px;
	margin-top: 15px;
  background-color: #42a89c;
  color: white;
  padding-top: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 45px;
  width: 140px;
  border-radius: 2%;
}

.individual_social{
	position: absolute;
	bottom: -435px;
	margin-left: 70px;
}

.team_info h3{
	margin-bottom: 6px;
}

.team_info .fab{
	margin-right: 10px;
	margin-left: 10px;
}

.team_info .fa-linkedin{
	color: #007bb6;
}

.team_info .fa-facebook-square{
	color: #3b5998;
}

.team_info .fa-instagram{
	  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team_info .fa-twitter-square{
	color: #00aced;
}

.join a:hover, .join a:active{
	background-color: #2385aa;
}

.join_us_div{
	margin-right: 600px;
	margin-top: 40px;
	margin-left: 500px;
}

.join_us_div h3{
	text-align: center;
	font-size: 27px;
	margin-bottom: 10px;
} 

.join_us_div p{
	text-align: center;
	font-size: 19px;
}

footer{
	margin-top: 30px;
}