
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  background-color: #F5F5F5;
  font-weight: 400;
}

.top_nav{
  display: flex;
  background-color: #fcfcfc;
  height: 100px;
}

.logo img{
  margin-left: 40px;
  margin-top: 20px;
  height: 80px;
}

/* Navbar container */
.customer {
  overflow: hidden;
  background-color: #04AA6D;
  width: 132.5px;
  height: 30px;
  margin-top: 45px;
  margin-left: 550px;
  padding-bottom: 5px;
}

/* Dropdown button */
.dropdown .drop {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 8px 12px;
  background-color: inherit;
}

/* Add a red background color to navbar links on hover */
.customer a:hover, .dropdown:hover .drop {
  background-color: #4bb7aa;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgrey;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0);
  z-index: 1;
  text-align: center;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.account{
  display: flex;
  margin-left: 200px;
}

.account a:link, .account a:visited {
  background-color: #2385aa;
  color: white;
  padding-top: 40px;
  padding-top: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 40px;
  margin-top: 45px;
  height: 35px;
  width: 80px;
  border-radius: 6%;
}

.account a:hover, .account a:active {
  background-color: #2dd6c1;
}

.middle_nav{
  display: flex;
  margin-bottom: 30px;
  height: 50px;
  padding: 16px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.service{
  flex: 2;
  height: 50px;
  width: 700px;
  margin-right: 200px;
}

.service a{
  text-decoration: none;
  display: inline-block;
  color: black;
  opacity: 95%;
  padding-top: 10px;
  padding-left: 50px;
  font-size: 20px;
  font-weight: bold;
}

.service a:hover {
  text-decoration: underline;
}

.social{
  flex: 1;
  margin-top: 10px;
}

.social a{
  margin-right: 10px;
  padding-left: 30px;
}

.bottom_nav{
  margin-bottom: 30px;
  height: 60px;
  display: flex;
}

.search-container{
  margin-left: 250px;
}

.bottom_nav input[type=text] {
  padding: 7px 300px 7px 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.bottom_nav .search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.bottom_nav .search-container button:hover {
  background: #ccc;
}

.upload{
  padding-top: 16px;
}


/* upload prescription */
.upload label {
  background-color: #04AA6D;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 40px;
}

.category{
  background-color: #2385aa;
  height: 50px;
  width: 1150px;
  margin: 1px auto;
  padding-top: 16px;
  color: #90929d;
}

.category a{
  color: black;
  text-decoration: none;
  padding-left: 65px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.category a:hover {
  text-decoration: underline;
}

.how_to{
  margin-top: 8px;
  margin-left: 100px;
  margin-bottom: 10px;
}
.type p{
  margin-left: 100px;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 2px;
}

.category_med{
  display: flex;
  height: 400px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
  color: #2385aa;
}

.medicine{
  width: 270px;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.medicine .med_img {
  width: 260px;
  height: 220px;

}
.medicine .name{
  height: 50px;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 20px;
}

.price{
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  padding-left: 25px;
  margin-bottom: 20px;
}

.cart_div{
  margin-left: 50px;
  width: 150px;
  padding-top: 10px;
  padding-left: 25px;
  height: 40px;
  background-color: #2385aa;
  border-radius: 25px;
}

.cart_div:hover {
  background-color: #1ca5d9;
}

.cart{
  width: 20px;
  height: 40px;
  margin-left: 85px;
  margin-top: -30px;
  display:block;
}

.medicine a{
  height: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.medicine i{
  margin-right: 10px;
}

.view_all{
  float: right;
  margin-right: 100px;
  margin-bottom: 20px;
}
.view_all a{
  color: black;
  text-decoration: none;
}

.view_all a:hover{
  text-decoration: underline;
}

.clients{
  margin-left: 138px;
  font-size: 26px;
  font-weight: bold;
  color: grey;
}

.testimonials{
  height: 300px;
  display: flex;
  width: 1150px;
  margin: auto;
}

.saying{
  width: 300px;
  margin:  auto;
  height: 95%;
  position: relative;
}

.fa-quote-left{
  margin-left: -20px;
  font-size: 40px;
}

.promo{
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 100px;
}

.testimonials img{
  position: absolute;
  bottom: 50px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.testimonials .client_name{
  margin-right: 50px;
  position: absolute;
  bottom: 0px;
}

.testimonials h5{
  color: grey;
}

.all_clients{
  float: right;
  margin-right: 100px;
  margin-bottom: 100px;
}

.all_clients a{
  color: black;
  text-decoration: none;
}

.all_clients a:hover{
  text-decoration: underline;
}

.partner_heading{
  margin-top: 60px;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 120px;
}

.partner_hr{
  margin-left: 595px;
  width: 90px;
  border: 5px solid orange;
  border-radius: 5px;
}

.partners{
  display: flex;
  margin-left: 320px;
  width: 800px;
  margin-bottom: 50px;
}

.partners img{
  margin-top: 15px;
  margin-left: 50px;
  width: 150px;
  height: 150px;
}

.features{
  display: flex;
  background-color: #2385aa;
  height: 180px;
}

.feature{
  width: 250px;
  margin-left: 5px;
  margin: auto;
}

.feature h4{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 24px;
}

.feature h4, .feature p{
  color: white;
}

footer{
  background-color: #232323;
  color: white;
  padding-bottom: 20px;
}
footer p, footer h2, footer a{
  mix-blend-mode: difference;
}

.upper_footer{
  display: flex;
  height: 250px;
  padding-top: 25px;
  margin-left: 80px;
}

footer .about{
  width: 400px;
  text-align: justify;
}

.upper_footer h2{
  margin-bottom: 10px;
}

.quick_link{
  margin-left: 120px;
  margin-right: 20px;
}

.upper_footer li{
  list-style-type: none;
  margin-bottom: 6px;
}

.upper_footer a{
  color: #fff;
  text-decoration: none;
}

.blog_read_more a{
    color: grey;
}

.upper_footer a:hover{
  text-decoration: underline;
}

.blogs{
  margin-left: 80px;
}

.get_in_touch{
  margin-left: 80px;
}

.get_in_touch p{
  margin-bottom: 10px;
}

.fas{
  margin-right: 10px;
}

.footer_hr{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 0.5px solid #f8f9fa;
  border-radius: 5px;
  margin-bottom: 15px;
}

.bottom_footer{
  display: flex;
  margin-left: 80px;
}

.bottom_footer .pay{
  margin-left: 130px;
  margin-right: 15px;
}

.bottom_footer img{
  width: 381px;
  height: 31px;
  margin-right: 80px;

}

.social_white li{
  float: left;
  list-style-type: none;
  margin-left: 30px;
}

.fab{
  color: white;
  font-size: 25px;
}
